.participant-card {
    margin-bottom: 25px;
}

.participant-card-active {
    background-color: #FDCFCD;
    border-color: black;
}

.participant-card-text {
    font-size: 14px;
    text-align: justify;
}

.participant-card-container-circle {
    margin-top: 10px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 50px;
    color: #000;
    text-align: center;
    background: #98B96B;
    display: inline-block;
    margin-top: 5px;
}

.circle-active {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 50px;
    color: white;
    text-align: center;
    background: red;
    display: inline-block;
    margin-top: 5px;
}