.participant-card {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 -10px 25px -10px;
    padding: 0 10px;

    &__active {
        background-color: #FDCFCD;
        border-color: black;
    }
    
    &__text {
        font-size: 14px;
        text-align: justify;
    }
    
    &__container-circle {
        margin-top: 10px;
    }
    
    &__circle {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        font-size: 50px;
        color: #000;
        text-align: center;
        background: #98B96B;
        display: inline-block;
        margin-top: 5px;

        &--active {
            color: white;
            background: red;
        }
    }
}