$participation-card-bg-color: #fdcfdc;
$participation-card-border-color: #000;
$participation-card-text-color: #000;
$participation-card-circle-bg-color: #98b96b;
$participation-card-active-bg-color: #f00;
$participation-card-active-text-color: #fff;
$participation-card--background-item: #ECECEC;

.participant-card {
  margin-top: 10px;
  text-align: center;
  width: 100%;

  &__name {
    padding-left: 15px;
    padding-top: 9px;
  }

  &__text {
    font-size: 14px;
    text-align: justify;
  }

  &__container-circle {
    margin-top: 3px;
  }

  &__circle {
    background-color: $participation-card-circle-bg-color;
    border-radius: 50%;
    color: $participation-card-text-color;
    display: inline-block;
    font-size: 20px;
    height: 30px;
    width: 30px;

    &--active {
      background-color: $participation-card-active-bg-color;
      color: $participation-card-active-text-color;
    }
  }

  &__container-inline {
    display: inline-block;
    width: 350px;
  }
}
