{
    "presets": ["env", "react-app"],
    "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        [
            "transform-es2015-modules-commonjs-simple",
            {
                "noMangle": true
            }
        ]
    ]
}
