$header-bg-color: #222;
$header-text-color: #fff;

.header {
    background-color: $header-bg-color;
    color: $header-text-color;
    height: 135px;
    padding: 8px;

    &__logo {
        animation: app-logo-spin infinite 20s linear;
        height: 80px;
    }

    &__title {
        font-size: 1.5em;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
