.selected-card {
    margin-top: 30px;
    text-align: center;

    &__remove-button-container {
        display: inline-block;
    }

    &__participant {
        display: inline-block;
    }

    &__remove-button {
        margin-left: 15px !important;
        margin-top: -45px !important;
    }
}
