$header-bg-color: #222;
$header-text-color: #fff;

.app {
  text-align: center;

  &__logo {
    animation: app-logo-spin infinite 20s linear;
    height: 80px;
  }

  &__header {
    background-color: $header-bg-color;
    color: $header-text-color;
    height: 150px;
    padding: 20px;
  }

  &__title {
    font-size: 1.5em;
  }

  &__intro {
    font-size: large;
  }

  &__container-cols {
    margin: 20px;
  }
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
